body {
    margin: 0;
    font-family: montserrat,sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: rgb(76, 86, 106);
}

.header {
    display: flex;
    position: fixed;
    top: 0px;
    height: 5em;
    width: 100%;
    background-color: #08192d;
    transition: height 250ms ease-in-out 0s, box-shadow 250ms ease-in-out 0s, background-color 400ms ease-in-out 0s;
}

.container {
    max-width: 75em;
    width: 100%;
    margin: 0px auto;
    padding: 0px 1.5em;
    display: flex;  
    align-items: center;
    justify-content: space-between;
}

.container-nav {
    font-size: 1.125em;
}

.menu-button {
    padding: 0.15em 0.5em;
    color: inherit;
    text-decoration: none;
}

.content {
    display: flex;
    height: 35em;
    width: 100%;
    transition: height 250ms ease-in-out 0s, box-shadow 250ms ease-in-out 0s, background-color 400ms ease-in-out 0s;
}

.dark {
    background-color: #0a183d;
}

.light{
    background-color: rgb(242, 244, 248);
}

.about {
    display: flex;
    height: 8em;
    width: 100%;
    background-color: #08192d;
    transition: height 250ms ease-in-out 0s, box-shadow 250ms ease-in-out 0s, background-color 400ms ease-in-out 0s;
    font-size: 1.1rem;
}

.row {
    max-width: 50%;
}

.footer-row {
    max-width: 60%;
}

.light-text {
    color: rgb(242, 244, 248);
    font-size: 20px
}

.light-header{
    font-size: 50px;
    color: rgb(242, 244, 248);
}

.light-footer {
    color: rgb(242, 244, 248);
    font-size: 16px
}

.dark-header{
    font-size: 50px;
    color: #4c566a;
}

.dark-text {
    color: #4c566a;
    font-size: 20px
}

.highlight {
    color: #fc0254;
}

.section {
    display: flex;
    flex-wrap: wrap;
}

.small-row {
    max-width: 33%;
}

.inline {
    display: inline;
}

.section-header {
    font-size: 24px;
    color: rgb(242, 244, 248)
}

.light-small-text {
    font-size: 16px;
    color: rgb(242, 244, 248)
}

.button {
    background-color: #fc0254;
    border-radius: 50px;
    font-size: 20px;
    padding: 18px 21px;
    text-align: center;
    display: inline-block;
    text-decoration: none;
    color: #ffffff;
}